@import url('../../index.scss');

.reducerTutorial{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 25px 10px;
    padding: 10px;
    background-color: rgb(127, 132, 113);
    h1{
        font-size: 25px;
        padding: 10px;
    }
}
button{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
p{
    color: var(--lightGray-color);
    font-size: 25px;
    text-align: center;
}