@import url('../../index.scss');

.useImperativeHandleTutorial{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 25px 10px;
    padding: 10px;
    background-color: rgb(188, 152, 205);
    h1{
        font-size: 25px;
        padding: 10px;
    }
}
button{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
p{
    color: var(--lightGray-color);
    font-size: 25px;
    text-align: center;
}
.firstexample{
    h3{
        color: var(--lightGray-color);
        font-size: 25px;
        text-align: center;
    }
}