:root {
  --font-base: "DM Sans", sans-serif;
  --primary-color: #edf2f8;
  --secondary-color: #313bac;
  --black-color: #030303;
  --lightGray-color: #e4e4e4;
  --gray-color: #6b7688;
  --brown-color: #46364a;
  --white-color: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

h1 {
  text-align: left;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  text-decoration: none;
  text-transform: capitalize;
  text-shadow: none;
  color: var(--lightGray-color);
  &:hover {
    color: var(--black-color);
    transition: 1s all in ease-in-out;
  }
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gray-color);
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  color: var(--primary-color);
  font-size: 15px;
  cursor: pointer;

  &:hover {
    color: var(--black-color);
    background-color: var(--primary-color);
    transition: 1s all in ease-in-out;
  }
}